@page "/about"

@using WCountUI.Wasm.Localizations

<PageTitle>@Resources.Titles_About_WCount</PageTitle>

<h3>About</h3>




<h3>Acknowledgements</h3>
<p>WCount makes use  of the following open source software: </p>

<ul>
	<li></li>
</ul>
